{{!-- <div class="panel-default">
  <br>
  <h4>Availability on {{reservationResponse.date}} around {{reservationResponse.bestTime.[1]}} for {{reservationResponse.people}} people:</h4>
  <p clas="glyphicon glyphicon-info-sign">{{model.tablesLeft}} tables left</p>

  <br>
  <h4>Select the best time that fits you:</h4>
    <div class="col-md-2">
      {{#link-to 'complete-reservation'}}
        <button class="btn btn-default" type="submit" {{action 'checkForTable'}}>{{model.bestTime.[0]}}</button>
      {{/link-to}}    </div>
      <div class="col-md-2">
        {{#link-to 'complete-reservation'}}
          <button class="btn btn-default" type="submit" {{action 'checkForTable'}}>{{reservationResponse.bestTime.[1]}}</button>
        {{/link-to}}      </div>
      <div class="col-md-2">
        {{#link-to 'complete-reservation' }}
          <button class="btn btn-default" type="submit" {{action 'checkForTable'}}>{{reservationResponse.bestTime.[2]}}</button>
        {{/link-to}}
      </div>
      <div class="col-md-2">
        {{#link-to 'complete-reservation' }}
          <button class="btn btn-default" type="submit" {{action 'checkForTable'}}>Time</button>
        {{/link-to}}      </div>
</div> --}}
